
      h1{color: red; }
      img{width: 400px;}
      #thirdDiv{height: 600; width: 500; background-color:DodgerBlue; padding: 50px; border: 15px solid green;}
      #spanId{font-size: 18px; margin: 50px;}
