.div-con-fondo{
background-image: url(https://i0.wp.com/st2.depositphotos.com/2335175/10082/v/950/depositphotos_100829042-stock-illustration-the-background-for-the-web.jpg);
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
      h1{color: red; }
      img{width: 400px;}
      #thirdDiv{height: 600; width: 500; background-color:DodgerBlue; padding: 50px; border: 15px solid green;}
      #spanId{font-size: 18px; margin: 50px;}
